.main { 
  display: flex;
  
  .left {
    width: 50%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
